{
  "resources": {
    "profile": "exclusive",
    "cpu": 10260,
    "memory": 5760,
    "network": [
      {
        "network-info": {},
        "interface-name": "eth0",
        "network-name": "iox-bridge0",
        "network-type": "bridge",
        "ipv4": {
          "mode": "",
          "ip": "",
          "prefix": "",
          "gateway": "",
          "default": false
        },
        "intf-matched": true
      },
      {
        "network-info": {},
        "interface-name": "eth1",
        "network-name": "int1",
        "network-type": "bridge",
        "ipv4": {
          "mode": "",
          "ip": "",
          "prefix": "",
          "gateway": "",
          "default": false
        },
        "mirroring": "yes",
        "intf-matched": true
      },
      {
        "network-info": {},
        "interface-name": "eth2",
        "network-name": "int2",
        "network-type": "bridge",
        "ipv4": {
          "mode": "",
          "ip": "",
          "prefix": "",
          "gateway": "",
          "default": false
        },
        "mirroring": "yes",
        "intf-matched": true
      },
      {
        "network-info": {},
        "interface-name": "eth3",
        "network-name": "int3",
        "network-type": "bridge",
        "ipv4": {
          "mode": "",
          "ip": "",
          "prefix": "",
          "gateway": "",
          "default": false
        },
        "mirroring": "yes",
        "intf-matched": true
      },
      {
        "network-info": {},
        "interface-name": "eth4",
        "network-name": "int4",
        "network-type": "bridge",
        "ipv4": {
          "mode": "",
          "ip": "",
          "prefix": "",
          "gateway": "",
          "default": false
        },
        "mirroring": "yes",
        "intf-matched": true
      }
    ],
    "vcpu": 4,
    "disk": 79518,
    "devices": [
      {
        "device-id": "usb1/1-1/1-1.2",
        "device-name": "usb1",
        "label": "USB1",
        "port-num": "1",
        "type": "usbport",
        "matched": true
      }
    ],
    "auto_remove": false
  },
  "startup": {
    "runtime_options": "--rm"
  }
}
