{
  "resources": {
    "profile": "exclusive",
    "network": [
      {
        "interface-name": "eth0",
        "ipv4": {
          "default": true,
          "ip": "{{collection_address}}",
          "prefix": "{{collection_prefix}}",
          "mode": "static",
          "gateway": "{{collection_gateway | default('')}}"
        },
        "network-type": "vlan",
        "network-info": {
          "vlan-id": "{{collection_vlan | default('11')}}"
        }
      },
      {
        "interface-name": "eth1",
        "ipv4": {
        {% if rspan|default(false) %}
          "disabled": true
        {% else %}
          "mode": "static",
          "dns": "",
          "ip": "{{capture_address | default('169.254.1.2')}}",
          "prefix": "{{capture_prefix | default('30')}}",
          "default": false
        {% endif %}
        },
        "network-type": "vlan",
        "network-info": {
          "vlan-id": "{{capture_vlan | default('2508')}}"
        },
        "mirroring": "yes"
      },
      {% if (active_discovery_interfaces is defined) and (active_discovery_interfaces|length > 0) %}
      {
        "interface-name": "eth2",
        "network-type": "bridge",
        "network-name": "mgmt-bridge300"
      }
      {% endif %}
    ],
    "disk": "{{disk_size | default('1024')}}"
  },
  "startup": {
    "runtime_options": "--rm{{ runtime_option_ztp }}"
  }
}
